<% provide(:title, "アイテム攻略") %>
  <div class="row">
    <div id="main" class="col-md-9">
      <div class="topic-header">
        <h1>アイテム攻略まとめページ</h1>
        <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/12</p>
        <p class="posted-time">posted: 2019/02/25</p>
      </div>
      <div class="info">
        <%= image_tag "itembanner.png", alt: "itembanner", width: "100%" %>
      </div>
      <div class="info-text">
        <p class="mini-topic-text">
          このページではビギナー向けのアイテム攻略法をまとめます。
          <br>
          <br>マリオカートWiiはアイテムがとても強いゲームなので
          <br>アイテムをうまく使いこなせるほど勝率が上がります。
          <br>コースを覚えることと同じくらい重要です。
        </p>
      </div>
      <div class="topic-body">
        <div class="pickup">
          <h2 class="item-topic-title">
            真っ先に覚えたい仕様
          </h2>
        </div>
        <div class="pickup-box clearfix">
          <p class="mini-topic-text">
            下の表のアイテムは特に効果の強いアイテムです。
            <br>キラーとサンダーは少し複雑ですが、非常に強力なので最優先で覚えましょう。
          </p>
          <div class="item-table">
            <table border="1">
              <tr>
                <th>アイテム</th><th>最大ストック</th><th>出現順位<span>※</span></th><th>主な仕様</th>
              </tr>
              <tr>
                <td>スター</td><td>3つ</td><td>8〜12位</td><td>効果の持続時間7.5秒くらい</td>
              </tr>
              <tr>
                <td>キラー</td><td>1つ</td><td>9〜12位</td>
                <td>一定人数抜かすと効果が切れる<br>一定人数＝(部屋人数-1)/2 (小数点以下切り捨て)<br>例：12人部屋は(12-1)/2=5.5 切り捨てて5人<br>抜かさない場合の最大持続時間9秒くらい</td>
              </tr>
              <tr>
                <td>巨大キノコ</td><td>2つ</td><td>4〜8位</td><td>効果の持続時間7.5秒くらい</td>
              </tr>
              <tr>
                <td>サンダー</td><td>1つ</td><td>11〜12位</td>
                <td>スタート後最初の30秒間は出ない<br>スタート後30秒経過してから出るようになる<br>誰かがサンダーを使った後の30秒間は出ない</td>
              </tr>
              <tr>
                <td>トゲゾー</td><td>1つ</td><td>4〜9位</td><td>落下する直前でキノコを使えば回避できる</td>
              </tr>
              <tr>
                <td>金キノコ</td><td>2つ</td><td>6〜12位</td><td>効果の持続時間7.5秒くらい</td>
              </tr>
              <tr>
                <td>カミナリぐも</td><td>1つ</td><td>3〜8位</td><td>カミナリが落ちるまで10秒くらい</td>
              </tr>
              <tr>
                <td>ボムへい</td><td>2つ</td><td>3〜7位</td><td>直撃するとアイテムを全ロストする</td>
              </tr>
              <tr>
                <td>偽アイテム</td><td>知らない</td><td>1〜4位</td><td>こうら、バナナを貫通して攻撃できるアイテム</td>
              </tr>
            </table>
            <p class="item-table-comment">※出現順位はオンライン12人対戦時</p>
          </div>
          <p class="mini-topic-text">
            「最大ストック」は対戦中のプレイヤーがアイテムスロットに同時に同じアイテムを保持できる数の最大数です。
            <br>
            <br>たとえば、スターの場合は最大ストックが「3」なので、アイテムスロットにスターを保持している人がすでに3人いる時は、アイテムボックスをいくら割ってもスターは出ません。
            <br>
            <br>ストックの対象はアイテムスロットにあるかどうかなので、3人のうちの誰かがスターを使用してアイテムスロットから消えた時点でアイテムボックスからスターが出るようになります。
            <br>
            <br>
            <br>
            <br>以下、アイテムの特徴を簡単にまとめます。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            サンダー
            <%= image_tag "itemsozai/shock_sozai.png", alt: "サンダー", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            サンダーを回避できるかどうかで順位がガラッと変わります。このゲームの最重要アイテムです。
            <br>
            <br>開始30秒間は引けない、サンダーが降った直後30秒間は引けない、という仕様のため、サンダー回避を狙う場合は経過時間をチラ見しながらプレイします。
            <br>
            <br>自分でサンダーを引けた場合は、基本的に自分が上位に上がれそうなタイミングを考えて撃ちますが、例外として部屋に走力が高いプレイヤーが複数人いる場合は、あまり長く保持しすぎると集団が縦に伸びてしまい追いつけなくなってしまうので、そうなる前にさっさとサンダーを撃ってしまったほうがよいです。
            <br>
            <br>サンダー自体が集団を団子にさせる効果があるので、サンダーが複数回降るほど追いつきやすく打開も狙いやすく、サンダーで小さくなる分レース時間も長引くのでトゲが飛ぶ回数と、サンダーがもう一回降る確率も期待できるようになります。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            打開アイテム
            <%= image_tag "itemsozai/star_sozai.png", alt: "スター", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/mega_sozai.png", alt: "巨大キノコ", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/bill_sozai.png", alt: "キラー", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            スター、巨大キノコ、キラーの3種類はサンダーを回避できるアイテムです。
            <br>
            <br>このゲームのサンダー回避は非常に強力なため、打開アイテムが出現する順位では常に狙ってアイテムボックスを割ります。サンダー回避がうまいプレイヤーは、サンダーが降るタイミングを読むのもうまいですが、それ以上に打開アイテムを引くこと自体がうまいです。
            <br>
            <br>スターは3つまでしかストックできないため、他のプレイヤーにストックされて引けなくなる前に取得を狙います。レース開始直後やサンダーが降った直後、または他のプレイヤーがスターを使った直後が狙い目です。打開アイテムの中では一番引ける確率が高いので、狙い目以外でも出ることを祈ってどんどんアイテムボックスを割ります。
            <br>
            <br>キラーは自分がストックしていれば他のプレイヤーが引けないため、自分が引けた場合はできるだけサンダーが降るタイミングまで保持したいアイテムです。レース開始直後や他のプレイヤーがキラーを使い終わった直後が狙い目です。
            <br>
            <br>巨大キノコは出現率自体が低いため、引けたらラッキー程度で狙います。巨大キノコの出現順位は中位のため、下位の動向が見えていないことが多くサンダーを読むのが難しいです。そのためサンダーが降る可能性のあるタイミングであれば、無理にサンダーを読もうとはせずに引けたらすぐに使ってしまうのがセオリーです。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            ダッシュキノコ
            <%= image_tag "itemsozai/shroom_sozai.png", alt: "ダッシュキノコ", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/trishroom_sozai.png", alt: "トリプルダッシュキノコ", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/golden_sozai.png", alt: "パワフルダッシュキノコ", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            ダートを無視して走れるアイテムなので、上位〜中位で引けた場合は無駄打ちせずになるべくショートカットで使います。
            <br>
            <br>下位で引いた場合はあまり強くないので、さっさと使って打開アイテムを狙い直したほうがよいことが多いです。
            <br>
            <br>DKマウンテンやムーンリッジのようなダートやSCが少ないコースでもあまり活躍しません。コースによって強さが大きく変わるアイテムです。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            こうら系アイテム
            <%= image_tag "itemsozai/green_sozai.png", alt: "ミドリこうら", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/trigreen_sozai.png", alt: "トリプルミドリこうら", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/red_sozai.png", alt: "アカこうら", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/trired_sozai.png", alt: "トリプルアカこうら", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/blue_sozai.png", alt: "トゲゾー", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            赤甲羅は追尾性能があり、緑甲羅は赤甲羅よりも速く反射するため、どちらも持っているだけでかなり警戒してもらえます。
            <br>
            <br>警戒してもらえるので、トリプル甲羅を引いた場合はすぐに打ち切らずに展開しながら走ったほうが強いです。
            <br>
            <br>トゲゾーは爆発しないと次のトゲゾーが引けないため、基本的に引けたら即撃ちでOKですが、上位をたくさん巻き込めそうな狭い通路などが見えていれば着弾タイミングを狙うのもよいです。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            投擲系アイテム
            <%= image_tag "itemsozai/banana_sozai.png", alt: "バナナ", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/tribanana_sozai.png", alt: "トリプルバナナ", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/fake_sozai.png", alt: "偽アイテム", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/bomb_sozai.png", alt: "ボムへい", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            投擲系アイテムはミニジャンプしながら前投げすると通常よりも遠くに飛ばせるので活用します。
          </p>
          <div class="gifs">
            <%= image_tag "gifs/iteminfo1.gif", alt: "gif動画", width: "70%"%>
          </div>
          <p class="mini-topic-text">
            <br>上の動画はミニジャンプをしながら先に投げたバナナのほうが遠くに飛んでいます。
            <br>
            <br>慣れないうちは走っている相手を狙うよりも、コース上のどこに落としたいかを考えながら飛ばすと狙ったところに飛ばしやすいです。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            範囲系アイテム
            <%= image_tag "itemsozai/pow_sozai.png", alt: "POW", width: 40, class: "item-mini-icon" %><%=
            image_tag "itemsozai/blooper_sozai.png", alt: "ゲッソー", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            基本的に即撃ちでOKですが、余裕があれば上位が食らうと困りそうなカーブや狭い通路を狙って使うのがベターです。
            <br>
            <br>上位が詰まると集団が団子になり下位が追い上げやすくなります。
          </p>
        </div>
        <div class="pickup">
          <h2 class="item-topic-title">
            カミナリぐも
            <%= image_tag "itemsozai/tc_sozai.png", alt: "カミナリぐも", width: 40, class: "item-mini-icon" %>
          </h2>
        </div>
        <div class="pickup-box">
          <p class="mini-topic-text">
            ハズレアイテムですが、加速で追い上げてから他の人につければOKです。
            <br>
            <br>最初から後続の敵に付けにいってもよいですが、前の敵を逃すのを手伝う形になったり雲が付かなかった場合に自分が大きく遅れる形になるので、なるべく前を走っている敵に付けにいったほうがよいです。
            <br>
            <br>ラグ環境では後ろから付けに行っても付かないので、基本的に前から付けに行きます。
            <br>相手の前に出てから停止・減速して、相手が走りそうなラインを想像して接触しにいきます。
          </p>
        </div>
      </div>
    </div>
    <%= render 'layouts/side' %>
  </div>
