<% provide(:title, "ラグ対策") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>ラグを理解して立ち回る</h1>
      <p class="update-time">updated: 2019/03/05</p>
      <p class="posted-time">posted: 2019/03/05</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/2_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        オンライン対戦は少なからずラグがあります。
        <br>
        <br>ラグはどうしようもないと思われがちですが、実はある程度パターン化されているので対策可能です。世界戦をやりまくってラグ慣れしている海外勢は、ラグの仕組みを理解して自分が有利になるように立ち回っています。
        <br>
        <br>海外勢はシンプルに走力が高いのでラグとの相性も良いのですが、相手より遅くてもラグ対策できていると強く立ち回れるので走力差があっても問題ありません。逆に対策していないと尚更一方的なサンドバッグです。
        <br>
        <br>私も世界戦を頻繁にやるようになるまではあまり考えずにやっていたので、海外勢にラグでボロ負けしていました。公式時代の動画とか今見直すとかなり悲惨です。
        <br>
        <br>ラグ負けするパターンが多くてラグ対策あまり考えてなかったって人は、プレイを見直すと勝率が大幅に上がるかもしれません。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          ラグがある時の相手の位置はどこか
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          ラグがある時は、自分視点に映っている相手よりも実際の相手は少し前の位置を走っています。ラグが大きいほど、実際の相手が走っている位置はさらに前になります。
          <br>
          <br>これだけ理解してプレイすればラグ対策は十分です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          自分視点で相手と接触している場合
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          ラグ環境では実際の相手は自分が見えているよりも少し前の位置を走っているので、自分視点で接触している場合は相手側の視点では接触していないことになります。
          <br>
          <br>下の動画では自分視点ではガッツリ接触していますが、相手側の視点では接触していません。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/lag1.gif", alt: "gif動画", width: "50%"%>
        </div>
        <p class="mini-topic-text">
          <br>この場合どちらが有利かは一目瞭然で、相手が一方的に有利ですね。
          <br>
          <br>相手視点では接触していないため、自分側がいくら相手を押し込もうとしても相手のラインがズレることはありません。ラインがズレないので相手は超重量級マシンになり、逆にこちらが一方的に押されている形になっています。たまにとんでもなく重いタックルでコースアウトさせられる経験があると思いますが、原理はこれです。
          <br>
          <br>自分視点で相手と接触するメリットはないので、上の動画のような状況になった場合は競り合わずに一旦距離を空けましょう。
          <br>
          <br>動画では自分が不利な立場ですが、立場が逆になれば自分が有利な立場になります。
          <br>ラグ環境では常に自分側が有利なラグになるように立ち回ります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          自分が有利な立場のラグ
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          上の例とは立場を逆にすればよいので、自分視点で相手より少し前の位置を走っている状況を作ります。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/lag2.gif", alt: "gif動画", width: "50%"%>
        </div>
        <p class="mini-topic-text">
          <br>この動画では自分視点では相手に全く接触していませんが、相手視点では自分と競り合った状態になっていて、2つ目のカーブでイン側のダートに押し込まれたかウィリーを崩されたかで減速しています。
          <br>
          <br>ポイントは自分視点では一切接触しに行かないことです。
          <br>
          <br>直前のSS(スリップストリーム)で自分視点で相手にタックルしていた場合、超重量級の相手に押し返されて前に出れていないか逆に自分が不利なラグになっていたと予想されます。相手にタックルを決めたい時ほど、自分からは接触をせずに相手の少し前の空間を攻めていきます。
          <br>
          <br>パワフルダッシュキノコで敵集団を突破するときも、敵には一切接触せずに真横を素通りするか少し前の空間を横切るように抜き去るのが強い動きになります。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          ラグ環境での雲付け
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          自分視点で見えている相手の少し前の空間を狙って接触しに行きます。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/lag3.gif", alt: "gif動画", width: "50%"%>
        </div>
        <p class="mini-topic-text">
          <br>ポイントは相手の前方から舐めるように接触しに行く事です。実際の相手は少し前の位置にいるため、後ろからの接触ではほとんど移りません。相手に移ったと思った直後に一瞬で雲が戻ってくる場合は相手視点で移せてないやつですね。
          <br>
          <br>仕組みを理解していてもラグ環境で雲を移すのはかなり難易度が高いです。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
