<% provide(:title, "投擲アイテム、設置アイテムを当てる") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>投擲アイテム、設置アイテムを当てる</h1>
      <p class="update-time"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> updated: 2019/03/22</p>
      <p class="posted-time">posted: 2019/03/07</p>
    </div>
    <div class="info">
      <%= image_tag "vstech/8_vstech_banner.png", alt: "vsbanner", width: "100%"%>
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        攻撃アイテムを相手に当てられるのがベストですが、当たらなくても厳しいところに投げてくると相手に警戒してもらうだけで十分意味があります。
        <br>
        <br>設置アイテムも同様で、当たらなくても厳しいところに置くだけで意味があります。
        <br>
        <br>まずは、相手にとって厳しいところに攻撃アイテムを使ってみましょう。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          投擲アイテムの狙い方
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          慣れないうちは走っている相手を直接狙うよりも、コース上のどこに投げたいかを考えて投げると狙った位置に飛ばしやすいです。
          <br>
          <br>動く相手よりも、止まっているコースを基準にしたほうが狙いやすいという感じです。
          <br>
          <br>また、ラグ環境では相手は自分視点で見えているより少し前の位置を走っているので、コース上のどこを走っているか想像して投げます。
        </p>
          <div class="gifs">
            <%= image_tag "gifs/sniping1.gif", alt: "gif動画", width: "70%", class: "anime" %>
          </div>
        <p class="mini-topic-text">
          <br>大体上の動画くらい前に投げないと当たらないので、ラグ環境に慣れていない人はまず距離感を覚えましょう。
          <br>
          <br>自分視点で見えている敵の位置は残像なので、それに向かっていくら放っても当たりません。
        </p>
          <div class="gifs">
            <%= image_tag "gifs/sniping2.gif", alt: "gif動画", width: "70%", class: "anime" %>
          </div>
        <p class="mini-topic-text">
          <br>あとは、ラグ環境での赤甲羅も慣れないうちは全然当たりませんが、慣れれば当てやすいタイミングがなんとなくわかるようになります。
          <br>
          <br>自分の赤甲羅は海外勢に当たらないのに、海外勢の赤甲羅は的確に当たるのは、海外勢がどこで投げる赤が消えにくいかをよく理解しているからです。
          <br>
          <br>直線で投げると次のカーブまで逃げられて消されることが多いので、カーブで投げて直線で当たるようにすると当てやすいです。
        </p>
        <div class="gifs">
          <%= image_tag "gifs/sniping3.gif", alt: "gif動画", width: "70%", class: "anime" %>
        </div>
        <p class="mini-topic-text">
          <br>相手との距離も近すぎず遠すぎずを狙います。上の動画の距離は狙うのにちょうどよい距離です。
        </p>
      </div>
      <div class="pickup">
        <h2 class="item-topic-title">
          設置アイテムの置き方
        </h2>
      </div>
      <div class="pickup-box">
        <p class="mini-topic-text">
          相手にとってキツイ位置に置けば十分な効果があるので、基本的にカーブの完全な死角に置き続けるだけでOKです。
          <br>
          <br>自分視点でカーブを曲がるときにどこが死角になっているかを目で確認しながら曲がり、自分がその死角の位置を通過するタイミングで置けばOKです。
          <br>
          <br>ラインを攻めてくる後続は高確率で被弾しますし、避けられても最短ラインを走れない分後続を遅らせることができます。
          <br>
          <br>カーブの死角ばかりに置いてくると警戒され出したら、外回りで避けようとする相手に向けてカーブの外側に設置して、攻撃がワンパターンにならないようにします。
        </p>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
