<% provide(:title, "VS攻略") %>
<div class="row">
  <div id="main" class="col-md-9">
    <div class="topic-header">
      <h1>立ち回りで勝つ！ VS必勝10テクニック</h1>
      <p class="update-time">updated: 2019/03/03</p>
      <p class="posted-time">posted: 2019/03/03</p>
    </div>
    <div class="info">
      <img src="../assets/techbanner.png" alt="techbanner" width="100%">
    </div>
    <div class="info-text">
      <p class="mini-topic-text">
        走力は同じくらいなのに勝てない。
        <br>そんな場合は立ち回りで負けているかもしれません。
        <br>立ち回りで特に重要なポイントを10個の記事にしました。
      </p>
    </div>
    <div class="topic-body">
      <div class="pickup">
        <h2 class="item-topic-title">
          VS必勝10テクニック
        </h2>
      </div>
      <div class="pickup-box clearfix">
        <div class="topic-link-banner">
          <%= link_to image_tag("vstech/1_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_item_dodge_path %>
          <%= link_to image_tag("vstech/2_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_lag_path %>
        </div>
        <div class="topic-link-banner">
          <%= link_to image_tag("vstech/3_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_willy_path %>
          <%= link_to image_tag("vstech/4_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_ss_path %>
        </div>
        <div class="topic-link-banner">
          <%= link_to image_tag("vstech/5_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_aggressive_path %>
          <%= link_to image_tag("vstech/6_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_middle_path %>
        </div>
        <div class="topic-link-banner">
          <%= link_to image_tag("vstech/7_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_shock_dodge_path %>
          <%= link_to image_tag("vstech/8_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_sniping_path %>
        </div>
        <div class="topic-link-banner">
          <%= link_to image_tag("vstech/9_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_opening_path %>
          <%= link_to image_tag("vstech/10_vstech_banner.png", alt: "vsbanner", width: "48%", class: "topic-link-banner2"), vs_unlucky_path %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/side' %>
</div>
